$color-black-2: rgba(0, 0, 0, 0.02);
$color-black-4: rgba(0, 0, 0, 0.04);
$color-black-6: rgba(0, 0, 0, 0.06);
$color-black-8: rgba(0, 0, 0, 0.08);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-24: rgba(0, 0, 0, 0.24);
$color-black-32: rgba(0, 0, 0, 0.32);
$color-black-40: rgba(0, 0, 0, 0.40);
$color-black-48: rgba(0, 0, 0, 0.48);
$color-black-56: rgba(0, 0, 0, 0.56);
$color-black-64: rgba(0, 0, 0, 0.64);
$color-black-72: rgba(0, 0, 0, 0.72);
$color-black-80: rgba(0, 0, 0, 0.80);
$color-black-88: rgba(0, 0, 0, 0.88);
$color-black-100:rgba(0, 0, 0, 1);

$color-white-24: rgba(255, 255, 255, 0.24);
$color-white-24: rgba(255, 255, 255, 0.32);
$color-white-40: rgba(255, 255, 255, 0.40);
$color-white-50: rgba(255, 255, 255, 0.50);
$color-white-64: rgba(255, 255, 255, 0.64);
$color-white-80: rgba(255, 255, 255, 0.80);
$color-white-88: rgba(255, 255, 255, 0.88);
$color-white-96: rgba(255, 255, 255, 0.96);
$color-white-100: rgba(255, 255, 255, 1);

$color-blue-4: rgba(0, 122, 255, 0.04);
$color-blue-8: rgba(0, 122, 255, 0.08);
$color-blue-24: rgba(0, 122, 255, 0.24);
$color-blue-48: rgba(0, 122, 255, 0.48);
$color-blue-72: rgba(0, 122, 255, 0.72);
$color-blue-80: rgba(0, 122, 255, 0.80);
$color-blue-88: rgba(0, 122, 255, 0.88);
$color-blue-100: rgba(0, 122, 255, 1);

$color-warning-24: rgba(255, 204, 0, 0.24);

$color-green-20: rgba(52, 199, 89, 0.2);
$color-green-100: rgba(52, 199, 89, 1);

$color-purple-100: rgba(175, 82, 222, 1);

$color-coal-64: rgba(26, 27, 41, 0.64);

$color-red-100: rgba(241, 64, 25, 1);

$color-gray-96: rgba(238, 238, 238, 0.96);

$color-primary-100: #007AFF;
$color-primary-88: rgba($color-primary-100, 0.88);
$color-primary-72: rgba($color-primary-100, 0.72);
$color-primary-48: rgba($color-primary-100, 0.48);
$color-primary-24: rgba($color-primary-100, 0.24);
$color-primary-16: rgba($color-primary-100, 0.16);
$color-primary-8: rgba($color-primary-100, 0.08);
$color-primary-4: rgba($color-primary-100, 0.04);
