@import './mixins/breakpoints';

/* Containers */
@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;

  @include media-breakpoint-up('sm') {
    max-width: 540px;
  }

  @include media-breakpoint-up('md') {
    max-width: 744px;
  }

  @include media-breakpoint-up('lg') {
    max-width: 976px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @include media-breakpoint-up('xl') {
    max-width: 1200px;
  }
}

/* Print */
@mixin hidden-print {
  @media print {
    .hidden-print {
      display: none !important;
    }
  }
}

/* Effects */
@mixin effect-hover-and-active($scale: 0.99) {
  opacity: 1;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transform: scale(1);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
    transform: scale($scale);
  }
}

/*  Fonts */
@mixin font-h1-regular {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 130%;
  letter-spacing: -0.01em;

  @include media-breakpoint-up('md') {
    font-size: 34px;
  }

  @include media-breakpoint-up('xl') {
    font-size: 40px;
  }
}

